<ion-content [fullscreen]="true" class="ion-padding">

  <div class="content">
    <div class="logo_container ion-margin-top ion-text-center">
      <img src="assets/imgs/brand_logo_remo.png" class="brand_logo">
    </div>


    <div class="ion-text-center ion-margin-vertical delivery_item">
      <ion-item class="ion-text-center reciever_name" lines="none" color="transparent">
        <ion-icon name="arrow-back-circle-outline" class="back_icon" size="large" color="light" (click)="backbtn()">
        </ion-icon>
        <ion-label color="light">
          <h2>CZ0651,Roztylska 2321/19</h2>
          <p>CZ-14800 Prague</p>
        </ion-label>
      </ion-item>
    </div>

    <div class="data_item">
      <ion-item *ngFor="let item of items" lines="none">
        <ion-label color="dark">{{item.item_name}}</ion-label>
        <ion-icon color="success" name="checkmark-outline"></ion-icon>
        <!-- <ion-input type="number" value="item.item_name" placeholder="2662467" (keyup)="getTotal()"></ion-input> -->
      </ion-item>
    </div>

    <div class="delivered">
      <ion-item lines="none">
        <ion-label color="primary">
          <p style="font-size:17px;"><b>Celkem dodáno</b></p>
        </ion-label>
        <ion-text color="medium"><b>21/30</b></ion-text>
      </ion-item>
    </div>

    <ion-item>
      <ion-textarea rows="3" placeholder="Sem napište poznámku pro případ nesrovnalostí ..." name="notes" mode="ios"></ion-textarea>
    </ion-item>
    <div class="btns ion-text-center ion-margin-vertical">
      <ion-button class="btn" expand="block"  color="primary" (click)="submit()">POTVRDIT DODÁNÍ
        <ion-icon slot="end" name="scan-outline" class="icon-scan-2"></ion-icon>
      </ion-button>
      <ion-button class="btn ion-margin-top" expand="block"  color="medium" (click)="cancel()">ZRUŠIT
        <ion-icon slot="end" name="checkmark-done-circle-outline" class="icon-scan-2"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
<!-- <div class="bg"></div> -->