<ion-content>

  <div class="ion-padding">
    <br />
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="assets/imgs/brand_logo_remo.png" class="brand_logo">
      </ion-col>
    </ion-row>

    <div class="ion-text-center ion-padding-vertical">
      <div class="ion-text-center">
        <ion-label class="ion-text-center" color="medium">
          <h1><b>{{data.ERROR}}</b></h1>
        </ion-label>
        <div class="error-msg ion-padding" innerHtml="{{data.ERRORMSG}}"></div>
        <div>{{data.ver}}</div>
      </div>
    </div>
    </div>

  <div class="footer ion-text-center ion-margin">
    <ion-fab vertical="end" horizontal="center" color="dark" size="large" (click)="dismiss()">
      <ion-fab-button color="dark" size="large">
        <ion-icon name="arrow-back-sharp" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>