<ion-content [fullscreen]="true" class="ion-padding">

  <div class="content ion-margin-top">
    <div class="logo_container ion-margin-top ion-text-center">
      <img src="assets/imgs/brand_logo_remo.png" class="brand_logo">
    </div>

    <ion-row class="ion-text-center ion-margin-top">
      <ion-col>
     </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col class="ion-margin-top">
        <form id="zadatTelefonnSlo-form1" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <ion-item color="transparent">
            <ion-label position="floating">Vaše telefonní číslo</ion-label>
            <ion-input type="number" inputmode="numeric" (keyup)="validate()" name="phonenumber" formControlName="phonenumber" required>
            </ion-input>
          </ion-item>
          <div class="invalid-feedback"
            *ngIf="(registerFormControl.phonenumber.touched || submitted) && registerFormControl.phonenumber.errors?.required">
            Phonenumber is required *
          </div>
          <div class="invalid-feedback"
            *ngIf="(registerFormControl.phonenumber.touched || dirty || submitted) && registerFormControl.phonenumber.errors?.invalidPassword">
            Minimum 9 digits required *
          </div>
        </form>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center ion-margin-top">
      <ion-col size="12">
        <ion-button expand="block" color="primary" (click)="scan()"
          [disabled]="this.registerForm.invalid">
          <ion-icon slot="end" name="scan-outline" class="icon-scan-1"></ion-icon>
          DORUČENÍ
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button class="ion-margin-bottom keypad" expand="block" color="medium" (click)="manualEntry('delivery')"
          [disabled]="this.registerForm.invalid">
          <ion-icon slot="end" name="keypad-outline" class="icon-keypad"></ion-icon>
          RUČNÍ ZADÁNÍ
        </ion-button>
      </ion-col>
      <ion-col size="12" class="ion-margin-top ion-padding-top">
        <ion-button expand="block" class="ion-margin-top" color="dark" (click)="scanPickup()"
          [disabled]="this.registerForm.invalid">
          <ion-icon slot="end" name="scan-outline" class="icon-scan-2"></ion-icon>
          VYZVEDNUTÍ
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-item class="ion-text-center" color="transparent"lines="none">
    <ion-label color="medium">v1.0.0</ion-label>
  </ion-item>
</ion-footer>
<div class="bg"></div>