<ion-content>

  <div class="ion-padding">
    <br />
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="assets/imgs/brand_logo_remo.png" class="brand_logo">
      </ion-col>
    </ion-row>

    <div class="ion-text-center ion-padding-vertical content">
      <div>
        <h2 class="ion-text-center" style="color: red;">{{errorData.ERROR}} </h2>
        <div class="error-msg ion-padding" innerHtml="{{errorData.ERRORMSG}}"></div>
      </div>

    </div>
  </div>

  <div class="footer ion-text-center ion-margin">
  <ion-button class="ion-margin-vertical" expand="block" color="dark" (click)="cancelAction()">
    ZRUŠIT
  </ion-button>

  </div>
</ion-content>
